.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

body{
font-family: 'Roboto', sans-serif;
}

/* ======HEADER====== */
.logo{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: #2196F3;
}

.logo-studio{
 color:#000000;
}

.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;
}
    .menu-link:hover,
    .menu-link:focus{
color: #2196F3;
    }
    
    .contact-mail,
    .contact-phone-number{
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
        
            color: #757575;
    }
        .contact-mail:hover,
        .contact-phone-number:hover,
                .contact-mail:focus,
                .contact-phone-number :focus{   
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: 0.02em;
                
                    color: #2196F3;
                }

                /* =====/HEADER===== */

                /* =====HERO===== */
                
                .hero{
                
                    background: #2F303A;
                }
    
                .effective-solutions{
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        
            color: #FFFFFF;
            background: #2F303A;
    }
 .modal-button{
    
        cursor: pointer;
        font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
        
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
        
            color: #FFFFFF;
            background: #2196F3;
        
 } 
 
 .modal-button:hover,
 .modal-button:focus{
    background-color: #188ce8;
 }

 /* =====/HERO===== */

 /* =====OUR ADVANTAGES===== */
 
 .our-advantages{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
 }
 
 .advantages-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: #757575;
 }
 
 /* =======OUR TEAM======= */
 .about-us{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
 }
 .our-team{
    position: absolute;
        width: 1600px;
        height: 648px;
        left: 0px;
        top: 1449px;
    
        background: #F5F4FA;
 }
 .name-our-team{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
 }
 .jobtitle-our-team{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
 }
 /* =======/OUR TEAM======= */
 
 /* =====FOOTER===== */
 
 .footer{
background: #2F303A;
 }